.container{
  min-height: 100vh;
  padding: 30px;
  background-color:#D8B1FF ;
}
.button-container{
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}
.Search-Container{
  margin-bottom: 30px;
}
.Search-Container h1{
  margin-bottom: 30px;
}